- name: Déployer HAProxy
  hosts: haproxy
  become: true

  tasks:

    #############################################
    # Installation HAProxy
    #############################################
    - name: Mettre à jour la liste des paquets
      apt:
        update_cache: yes

    - name: Installer HAProxy
      apt:
        name: haproxy
        state: present

    - name: Activer et démarrer le service HAProxy
      systemd:
        name: haproxy
        enabled: yes
        state: started

    #############################################
    # Configuration HAProxy
    #############################################
    - name: Déployer configuration HAProxy (vide pour l'instant)
      debug:
        msg: "Configuration HAProxy à compléter plus tard"
