provider:
  name: cloudflare

cloudflare:
  apiToken: true
  proxied: false

extraEnv:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-dns
        key: CF_DNS_API_TOKEN   # <-- clé existante utilisée par Traefik ACME

sources:
  - ingress
  - service
  - crd

domainFilters:
  - "vrhometech.fr"

policy: sync
registry: txt
txtOwnerId: "k8s-traefik"
interval: "1m"

rbac:
  create: true

serviceAccount:
  create: true
  name: "external-dns"

leaderElection:
  enabled: true

logLevel: debug
annotationFilter: "external-dns.alpha.kubernetes.io/target"
