providers:
  - name: cloudflare
    cloudflare:
      apiToken: "${CF_DNS_API_TOKEN}"
      proxied: false

sources:
  - ingress
  - crd
  - service

domainFilters:
  - "vrhometech.fr"

policy: sync
registry: txt
interval: 1m
txtOwnerId: "k8s-traefik"

annotationFilter: "external-dns.alpha.kubernetes.io/target"

env:
  - name: CF_DNS_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-dns
        key: CF_DNS_API_TOKEN
