provider:
  name: cloudflare
env:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-api-key
        key: apiKey

sources:
  - ingress
  - service

domainFilters:
  - "vrhometech.fr"

policy: sync
registry: txt
interval: 1m
txtOwnerId: "k8s-traefik"

annotationFilter: "external-dns.alpha.kubernetes.io/target"

