provider: cloudflare

extraEnv:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-dns
        key: CF_API_TOKEN

cloudflare:
  proxied: false

sources:
  - ingress
  - service

domainFilters:
  - "vrhometech.fr"

policy: sync
registry: txt
txtOwnerId: "k8s-traefik"
interval: 1m
logLevel: info