---
- name: Installer certbot et plugin Cloudflare
  apt:
    name:
      - certbot
      - python3-certbot-dns-cloudflare
    state: present
    update_cache: yes
  become: yes

- name: Déployer fichier credentials Cloudflare
  copy:
    dest: /etc/letsencrypt/cloudflare.ini
    content: "dns_cloudflare_api_token = {{ cloudflare_api_token }}"
    owner: root
    group: root
    mode: '0600'
  become: yes

- name: Générer les certificats SSL pour chaque vhost
  command: >
    certbot certonly
    --dns-cloudflare
    --dns-cloudflare-credentials /etc/letsencrypt/cloudflare.ini
    -d {{ item.domain }}
    --non-interactive
    --agree-tos
    -m {{ acme_email }}
  loop: "{{ haproxy_vhosts }}"
  become: yes

- name: Ajouter cron pour renouvellement automatique
  cron:
    name: "Renew Let's Encrypt certificates"
    job: "certbot renew --quiet && systemctl reload haproxy"
    minute: "0"
    hour: "3"
  become: yes
