replicas: 1

service:
  type: LoadBalancer
  loadBalancerIP: "192.168.45.99"
  ports:
    web:
      port: 80
    websecure:
      port: 443

providers:
  kubernetesCRD: {}
  kubernetesIngress: {}

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

certificatesResolvers:
  cloudflare:
    acme:
      email: "admin@vrhometech.fr"
      storage: /data/acme.json
      dnsChallenge:
        provider: cloudflare
        delayBeforeCheck: 0

persistence:
  enabled: true
  path: /data
  size: 1Mi
  accessMode: ReadWriteOnce
  storageClass: longhorn

additionalArguments:
  - "--log.level=INFO"

env:
  - name: CF_DNS_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-api-token-secret
        key: CF_API_TOKEN

dashboard:
  enabled: true
  ingressRoute:
    dashboard: true

podSecurityContext:
  fsGroup: 65532
  runAsUser: 65532
