additionalArguments:
  - "--certificatesresolvers.cloudflare.acme.dnschallenge=true"
  - "--certificatesresolvers.cloudflare.acme.dnschallenge.provider=cloudflare"
  - "--certificatesresolvers.cloudflare.acme.email=victorrouviere3@gmail.com"
  - "--certificatesresolvers.cloudflare.acme.storage=/data/acme.json"
  - "--entrypoints.websecure.http.tls.certresolver=cloudflare"

env:
  - name: CF_DNS_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-dns
        key: CF_DNS_API_TOKEN

persistence:
  enabled: true
  name: data
  accessMode: ReadWriteOnce
  size: 1Gi
  path: /data
  annotations: {}
  storageClass: "longhorn"

ports:
  web:
    redirected: true
  websecure:
    tls:
      enabled: true

entryPoints:
  websecure:
    address: ":443"
    proxyProtocol:
      trustedIPs:
        - "192.168.20.5/32"

podSecurityContext:
  fsGroup: 65532
